body {
  font-family: helvetica;
  background-color: beige;
}

h1 {
  text-align: left;
  color: teal;
}

#list {
  width: 1010px; 
  margin-top: 20px; 
  margin: left; 
  font-size: 15px;
}

#main-map {
  margin: auto;
  height: 500px;
  width: 500px;
}
